@{ Layout = null; }


<link href="~/css/freelancer.css" rel="stylesheet">

<h3>Thank You For Confirming Your Email</h3>
<a asp-controller="Account" asp-action="Login" class="btn btn-outline-success" style="width:auto">

    Click Here to login To Your Portfolio

</a>