@{ Layout = null; }
<link href="~/css/freelancer.css" rel="stylesheet">
<h4 class="text-center">
    If you have an account with us, we have sent an email
    with the instructions to reset your password.
</h4>